<footer>
    <div class="footer-content">
        <p>&copy; 2023 Your Name. All rights reserved.</p>
        <ul class="social-media">
            <li><a href="https://www.instagram.com/yourprofile" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/yourprofile" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com/yourprofile" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</footer>