<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Portfolio</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/projects/index-en.html">Projects</a></li>
            <li><a href="../pages/bio/index-en.html">Bio</a></li>
            <li><a href="../pages/cv/index-en.html">CV</a></li>
            <li><a href="../pages/contact/index-en.html">Contact</a></li>
            <li><a href="../pages/projects/index-zh.html">项目</a></li>
            <li><a href="../pages/bio/index-zh.html">简介</a></li>
            <li><a href="../pages/cv/index-zh.html">简历</a></li>
            <li><a href="../pages/contact/index-zh.html">联系</a></li>
        </ul>
    </nav>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>